* body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
#backgrd .container {
  height: 100vh;
  display: flex;
  background: linear-gradient(from top, #b9b8b2, to bottom #757a7b);
}
.header {
  background-color: #075e54;
  height: 63px;
  position: relative;
  width: 100%;
}
.main-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  bottom: auto;
  width: ;
  height: fit-content;
  margin: auto;
  border: 2px dashed;
}
.left {
}
.sidebar {
  color: #fff;
  margin: auto 0;
  display: flex;
}

/* Add more sidebar */
.sidebar-1 {
  background-color: #7dc77d; /* Green */
}

.sidebar-2 {
  background-color: #6381c5; /* Blue */
}

.sidebar-3 {
  background-color: #da6a6a; /* Red */
}

/* wsa-avatar outside of sidebar */
.wsa-avatar {
  background-color: #7009dd;
  padding: 20px;
  color: white;
}
.right {
}

.wsa-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wsa-main {
  background-color: #6fdc41;
  flex-grow: 3;
  color: #fff;
  max-width: 468px;
  width: 100%;
}
.chat {
  display: flex;
  flex-direction: column-reverse;
  max-width: 607px;
  height: 397px;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
}

#chat .sent {
  background-color: #7bb7b0;
  height: 85px;
  position: relative;
  width: 146px;
  display: flex-end;
}
#chat .received {
  background-color: #075e54;
  height: 85px;
  position: relative;
  width: 146px;
  display: flex-start;
}

.wsa-header,
.wsa-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e0747;
  color: #fff;
  height: 31px;
  width: 721px;
}

/* Media query ----------------------------------- */
/* Media query per tablet */
@media (max-width: 1024px) {
  .main-container {
    width: 80%;
    height: auto;
    left: 10px;
    right: 10px;
  }

  .sidebar {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  .wsa-avatar {
    margin-top: 0;
  }
  .sent {
    background-color: #7bb7b0;
    height: 85px;
    position: relative;
    width: 146px;
    display: flex;
    justify-content: flex-end;
  }
  .received {
    background-color: #075e54;
    height: 85px;
    position: relative;
    width: 146px;
  }
}

/* Media query per dispositivi mobili */
@media (min-width: 556px) {
  .main-container {
    width: 100%;
    height: 100vh;
    left: 10px;
    right: 10px;
  }
  .header {
    width: 100%;
  }
  /* Altri adattamenti per tablet */
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  .main-container {
    width: 100%;
    height: 80vh;
    left: 5px;
    right: 5px;
  }

  .header,
  .sidebar,
  .sidebar-1,
  .sidebar-2,
  .sidebar-3 {
    display: none;
  }
  .wsa-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 480px;
  }
}
.wsa-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 400px;
}

.wsa-header,
.wsa-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e0747;
  color: #fff;
  height: 60px;
  /* Altri stili per header e footer su dispositivi mobili */
}

media (max-width: 768px) .wsa-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 481px;
}
